.wrapper {
	padding: 24px;
	max-width: 2000px;
	margin: 0 auto;
	text-align: center;
}

.leon {
	max-height: 500px;
	width: 80%;
	display: block;
	margin: 1rem auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding-inline-start: 0;
}

li {
	list-style: none;
	padding: 0.5rem;
}
footer {
	border-top: 5px solid black;
	margin-top: 2rem;
}